[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/wjt/src/dbus/test/test-shell-service "this should 'fail' because of an unterminated quote 

