[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/wjt/src/dbus/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
